ion-img.guide {
	display: inline-block;
	height: 150px;
	margin: 20px 0;
	text-align: center;
	width: 150px;
}

ion-card {
	margin-bottom: 60px;
}

ion-card-content {
	margin-bottom: 40px;
	padding-top: 10px;
}

.right {
	float: right;
}