<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Traders Trail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="guide-page">
	<ion-slides pager="true" [options]="slideOpts">
		<ion-slide class="slide">
		</ion-slide>
	  <ion-slide class="slide">
	  	<ion-card>
		  <ion-card-header>
		    <ion-img class="guide" src="./assets/img/info-1.png"></ion-img>     
		    <ion-card-title>Bem vindo!</ion-card-title>
		  </ion-card-header>

		  <ion-card-content>
		    Sabia que não precisa ser rico pra começar a investir? Vem com a Flipper que no caminho a gente te explica!
		  </ion-card-content>
		 </ion-card>
	  </ion-slide>
	  <ion-slide>
	    <ion-card>
		  <ion-card-header>
		    <ion-img class="guide" src="./assets/img/info-2.png"></ion-img>
		    <ion-card-title>Simulação</ion-card-title>
		  </ion-card-header>

		  <ion-card-content>
		    No Traders Trail você vai aprender a investir se divertindo, simulando com informações que refletem a realidade do mercado de investimentos e da sua vida!
		  </ion-card-content>
		</ion-card>
	  </ion-slide>
	  <ion-slide>
	    <ion-card>
		  <ion-card-header>
		    <ion-img class="guide" src="./assets/img/info-3.png"></ion-img>
		    <ion-card-title>Bolsa de Valores</ion-card-title>
		  </ion-card-header>

		  <ion-card-content>
		    Aqui você terá oportunidade de aprender como funciona a Bolsa de Valores, sem precisar colocar dinheiro de verdade em jogo. Comece já!
		  </ion-card-content>
		 </ion-card>
	  </ion-slide>
	</ion-slides>
	<ion-row padding  class="right">
		<ion-button routerLink="/inside" class="start" color="secondary">Começar</ion-button>
 	</ion-row>
</ion-content>
