.thumbnail-trilha {
	height: 150px;
	width: 150px;
	text-align: center;
	margin: 10px 95px;
}

.card {
	text-align: center;
}

.button {
	font-size: 18px;
	text-transform: uppercase;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
	white-space: inherit;
}