<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Invesducation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="2" offset="4">
      <ion-avatar class="avatar">
        <img src="./assets/img/avatar-grande.png">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label position="stacked"> Nome de usuário</ion-label>
    <ion-input  placeholder="sem espaço, permitidos . - _"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Nome Completo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Data de nascimento</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" [monthShortNames]="customNames" cancelText="Cancelar" doneText="Confirmar" placeholder="Selecione a data"></ion-datetime> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Profissão</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Grau de instrução</ion-label>
     <ion-input></ion-input>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="inside" routerLink="/inside">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>