<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Invesducation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon> Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Bem vindo a tela de administradores!
  <h1 text-center *ngIf="show_timer"> {{ formatted_time }} </h1>
  <p>{{ data }}</p>
  <ion-item>
    <ion-label>Mostrar relógio do servidor</ion-label>
    <ion-toggle [(ngModel)]="show_timer" (ionChange)="toggleTimer()"></ion-toggle>
  </ion-item>
  <ion-button expand="full" (click)="loadSpecialInfo()">Carregar informações</ion-button>
  <ion-button expand="full" (click)="clearToken()">Limpar JWT</ion-button>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="inside" routerLink="/inside">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>