<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inside</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Bem vindo a tela de administradores!
 
  <p>{{ data }}</p>

  <ion-button expand="full" (click)="loadTimer()">Iniciar relógio</ion-button>
  <ion-button expand="full" (click)="loadSpecialInfo()">Carregar informações</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="clearToken()">Limpar JWT</ion-button>
 
</ion-content>