<ion-header>
  <ion-toolbar>
    <ion-title>Traders Trail</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-img src="./assets/img/teste.jpg"></ion-img>

  <form padding [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item>
      <ion-label position="stacked"><ion-icon name="mail"></ion-icon> E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked"><ion-icon name="lock"></ion-icon> Senha <span class="info">(mínimo de 6 caracteres)</span></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="full" class="signin" type="submit" fill="solid" color="primary" [disabled]="!credentialsForm.valid">Entrar</ion-button>
    <ion-row padding class="center">
      <p>Ainda não tem uma conta? </p>
    </ion-row>
    <ion-button expand="full" class="signup" type="button" fill="solid" color="secondary" [disabled]="!credentialsForm.valid" (click)="register()">Cadastrar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Invesducation</ion-title>
  </ion-toolbar>
</ion-footer>