<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bem vindo!</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Entrar</ion-button>
    <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Registrar-se</ion-button>
 
  </form>
</ion-content>