<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Traders Trail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="2" offset="4">
      <ion-avatar class="avatar">
        <img src="{{profile.avatar}}">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-item>
    <p class="title">Nome de usuário: </p>
    <p> {{profile.username}}</p>
  </ion-item>

  <!--ion-item>
    <ion-label position="stacked"> Nome Completo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Data de nascimento</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" [monthShortNames]="customNames" cancelText="Cancelar" doneText="Confirmar" placeholder="Selecione a data"></ion-datetime> 
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Profissão</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> Grau de instrução</ion-label>
     <ion-input></ion-input>
  </ion-item> -->
</ion-content>

