<ion-header no-border class="bar bar-subheader">
  <ion-toolbar mode="ios">
    <ion-title>
    Trilhas de Conhecimento
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let a of trilhas; let i = index" (click)="openTrilha(i)">
      <ion-card>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-card-title>{{ a.title }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ a.subtitle }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-img class="thumbnail-trilha" [src]="a.thumbnail"></ion-img>
        <ion-card-content>
            <ion-button color="secondary">Iniciar Trilha</ion-button>
        <!-- <p>{{ a.text }} <ion-icon name="arrow-forward"></ion-icon></p> -->
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>