<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Trilhas de Conhecimento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let a of trilhas; let i = index" (click)="openTrilha(i)">
      <ion-card class="card">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-card-title class="title">{{ a.title }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle class="subtitle">{{ a.subtitle }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-img class="thumbnail-trilha" [src]="a.thumbnail"></ion-img>
        <ion-card-content>
            <ion-button color="success" class="button" routerLink="/tesouro-direto">Iniciar Trilha</ion-button>
        <!-- <p>{{ a.text }} <ion-icon name="arrow-forward"></ion-icon></p> -->
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>